<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="ITEA3 EMPHYSIS research project">
	<meta name="author" content="EMPHYSIS Consortium">
	
	<title>EMPHYSIS</title>
	
	<!-- Bootstrap core CSS -->
	<link href="{{ "/assets/css/main.css" | relative_url }}" rel="stylesheet">
	<link href="{{ "/assets/css/album.css" | relative_url }}" rel="stylesheet">
</head>

<body>

<main>
	<div class="container my-5">
	{{ content }}
	</div>
</main>

</body>

</html>
